@import url(http://fonts.googleapis.com/css?family=Roboto:400,200,700|Rosario:400,700);

@my-font-family: 'Roboto', sans-serif;
.my-font-family {
     &.light {
          font-family: "Roboto",sans-serif;
          font-weight: 200;
     }
     &.regular {
          font-family: "Roboto",sans-serif;
          font-weight: 400;
     }
     &.bold {
          font-family: "Roboto",sans-serif;
          font-weight: 700;
     }
}

@basefontcolor:black;
@backgroundcolor:black;
@linkcolor:#2233AA;
@clickedcolor:#554499;
@maincolor:#ddd;
@headercolor:#0077CC;
@contentcolor:white;
@containercolor:@maincolor;

/*  font/spacing sizes  */
@fontbase:14px;
@navfontsize:1.5em;
@navtitlesize:2em;
@widetextspacing:.3em;


/*  sizing  */
@containerwidth:100%;
@minheight:900px;
@headerwidth:100%;
@contentwidth:90%;
@contentpadder:2%;

html, body {
    color: @basefontcolor;
    background-color: @backgroundcolor;
    /*background-image: url('../img/rockbg10.jpg');*/
    box-sizing: border-box;
}

#page {
    margin: 0 auto;
    overflow:auto;
	width: @containerwidth;
    min-height: @minheight;
    background-color:@maincolor;
    position: relative;
    font-size: @fontbase;
    .my-font-family .light;
    margin-bottom:1%;
}

/* *********************** */
/*        Nav Stuff        */
/* *********************** */

.container {
    margin:0em;
    width:100%;
}

.navbar-inverse 
	.navbar-brand {
	 font-size: @navtitlesize;
}

.navbar-inverse 
	.nav>li>a {
	font-size:@navfontsize;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active {
	 background-color:#ddd;
	 color:black;
}

/* *********************** */
/*       Banner Stuff      */
/* *********************** */

#banner {
  width: 100%;
}

#bannerimg {
	width: 100%;
    height: auto;
}

/* *********************** */
/*     Structure Stuff     */
/* *********************** */

#content {
    top:0em;
    background-color:@contentcolor;
    position: relative;
    margin:auto;
    width: @contentwidth;
    padding: @contentpadder;
}

/* *********************** */
/*       Misc Stuff        */
/* *********************** */

.searchspan{
	font-size:1.8em;
}

a {
	font-size:1.1em;
	color:@linkcolor;
}

a.subtlelink {
	font-size:.9em;
	color:#aab;
}
.contenthead {
	width:100%;
	position:relative;

}

#contenttitle {
	font-size:2.5em;
	display:inline;
}

#details {
	font-size:1.3em;
	right:0em;
	bottom:0em;
	display:inline;
	position:absolute;
}

.maincontent{
	line-height:1.2em;
}

.maincontent div{
	margin-top:1.5em;
	margin-bottom:.75em;
}

/* *********************** */
/*       Climb Stuff        */
/* *********************** */

#contenttitle.secondary {
	font-size:1.2em;
	padding-left:3em;
}
#details.secondary {
	font-size:1em;
}
/* *********************** */
/*       User Stuff        */
/* *********************** */

.usercontent{
	width:100%;
	position:relative;
	margin-top:1em;
	background-color:green;
}

#profile{
	background-color:#7788BB;
	position:absolute;
	width:60%;
	left:0em;

}

#userrecs{
	position:absolute;
	right:0em;
	background-color:red;
	width:38%;
	padding:1em;
}

.plotrow{
	height:50%;
	width:100%;
}

#plotbox{
	height:26em;
	width:100%;
	background-color:green;
}

#plotcontainer0{
	height: 48%;
	width:49%; 
	left:0em;
	position:absolute;
}
#plotcontainer1{
	height: 48%;
	width:49%; 
	right:0em;
	position:absolute;
}
#plotcontainer2{
	height: 48%;
	width:49%; 
	left:0em;
	position:absolute;
}
#plotcontainer3{
	height: 48%;
	width:49%; 
	right:0em;
	position:absolute;
}


/* *********************** */
/*       About Stuff       */
/* *********************** */
#logoimg {
	height:6em;
	right:0em;
	bottom:0em;
	display:inline;
	position:absolute;
}
.fitimg{
	height:100%;
	width:auto;
}