{% extends "base.j2" %}

{% block content %}

<br>
<div class="contenthead">
<div id="contenttitle">CragCrunch: Insight Data Science Project</div>                                  
<div id="details"><img src="../static/img/logo.jpg" alt="logo"></div>
</div>
<br>
<br>
Project Details:

Main steps of analyses are documented here:

<ul>
<li><a href="../notebooks/Notebook 1. My Problem">My Probelm</a></li>
<li><a href="../notebooks/Notebook 2. My Problem">My Probelm</a></li>
<li><a href="../notebooks/Notebook 3. My Problem">My Probelm</a></li>
<li><a href="../notebooks/Notebook 4. My Problem">My Probelm</a></li>
<li><a href="../notebooks/Notebook 5. My Problem">My Probelm</a></li>
<li><a href="../notebooks/Notebook 6. My Problem">My Probelm</a></li>
</ul>

<br>
Full project code available on <a href="https://github.com/askerry/cragcrunch"> github</a>
<br>
<div class="contenthead">
<div id="contenttitle" class="secondary">Amy Skerry</div>                                  
<div id="logoimg" class="secondary">Social Cognitive Neuroscience Lab, Department of Brain and Cognitive Sciences, MIT</div>
</div>

{{ text }}

here are links to code, etc. 
{% endblock %}