{% extends "base.j2" %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-9">
		<div id="abouttitle">CragCrunch: Insight Data Science Project</div> <span class="mention"> by Amy Skerry</span>                                  
	<br><br>
	<h3>About the project:</h3>
	<p>As a rock climber, I love to travel to climb in new areas around the United States and abroad. But a given climbing area or national park often contains hundres or thousands of individual rock routes, and I can only tackle a handful of the routes in a single day. Thus, I am often looking to find new climbing routes that I am particularly likely to enjoy.</p>
	<p>The primary goal of CragCrunch is personalization. Every climber is unique and comes to the crag with their own skills, preferences, and goals. Similarly, every climb is different (e.g. different types of holds and faces) and demands its own blend of mental and physical skills. CragCrunch aims to learn about its individual users to create a personalized system for finding climbs that are right for YOU. The key feature of this system is a recommendation engine that makes personalized suggestions about climbs my model predicts you will enjoy. For users who have not built up an extensive climbing history, CragCrunch also provides for each climb suggestions of similar climbs. So look up a route you love and CragCrunch will suggest other climbs to add to your tick list. The climbing community helped to build this data source, so I want us to have the freedom to interact with the data to meet our individual goals and needs.</p>
	<h3>Project Details:</h3>
	<Main steps of analyses are documented here:
	<ul>
		<li><a href="../notebooks/Notebook_1_My_Problem">Notebook 1. My Problem</a></li>
		<li><a href="../notebooks/Notebook_2_My_Problem">Notebook 2. Data Acquisition</a></li>
		<li><a href="../notebooks/Notebook_3_My_Problem">Notebook 3. Data Wrangling</a></li>
		<li><a href="../notebooks/Notebook_4_My_Problem">Notebook 4. Data Exploration</a></li>
		<li><a href="../notebooks/Notebook_5_My_Problem">Notebook 5. New Hampshire Recommendations (Exploratory)</a></li>
		<li><a href="../notebooks/Notebook_6_My_Problem">Notebook 6. California Recommendations (Final analysis and validation evidence)</a></li>
		<li><a href="../notebooks/Notebook_6_My_Problem">Notebook 7. Clustering and Reduction</a></li>
		<li><a href="../notebooks/Notebook_6_My_Problem">Notebook 8. Wed Product</a></li>
		<li><a href="../notebooks/Notebook_6_My_Problem">Notebook 9. Limitations & Future Directions</a></li>
	</ul><br>
	Full project code available on <a href="https://github.com/askerry/cragcrunch"> github.</a>
	<br><br>
	<div class="contenthead">
	<h3>About me:</h3>                                 
	</div>
	</p>I am receiving my Ph.D. from Harvard University and have spent the last 3 years working in the Brain and Cognitive Sciences Department at MIT. In my thesis research, I used functional neuroimaging (fMRI) to understand the neural mechanisms that underlie human social cognition and affective processing in neurotypical and clinical populations. To uncover the representational content in different cortical regions, I trained machine learning algorithms to classify stimulus-induced cognitive states based on patterns of neural activation. Functional MRI data pose a number of unique analytic problems, and I have enjoyed the challenge of bringing noisy data to bear on abstract, high-level questions. After graduating in May 2015, I will be moving to the Bay Area to pursue a career in data science.</p>
	</p>When not at my computer, I spend most of my time climbing on rocks (or rock-shape polyurethane). Other interests include education technology & accessibility, open-access science, mental health awareness & advocacy, and sustainability. </p>
	</div>
	<div class="col-md-3 rpanel">
		<img id="selfphoto" src="../static/img/fleshforlulu_rumney.jpg"></img>
	</div>
</div>
{% endblock %}