{% extends "base.j2" %}

{% block content %}

<br>
<div class="contenthead">
<div id="contenttitle">{{area['name']}}</div>                                  
<div id="details">{% if area['mainarea_name' != '']%} {{ area['mainarea_name'] }}, {% endif %}{{ area['region'] }}, {{ area['country'] }}</div>
</div>


<div class="maincontent">
<div>{{area['climbcount']}} climbs, <a href="http://{{area['url']}}">{{area['pageviews']}} views on MountainProject.com</a></div>
<div><h4>Gear:</h4> {{area['directions']}}</div>
<div><h4>Description:</h4> 
{{area['description'] | safe}}
</div>
</div>
<br>

<br>
{% endblock %}