{% extends "base.j2" %}

{% block content %}

<br>
<h2>{{area['name']}}</h2>
region: {{area['region']}} country: {{ area['country'] }}
<br>
home region/crag: {{area['mainarea_name']}}, {{area['country']}}
<br>
main area: {{area['mainarea']}}, google maps: {{area['mapref']}}
<br>
mountain project site: {{area['url']}}
<br>
<h4>Most Popular Climbs </h4>
	{% for e in area['popclimbs'].keys() %}
        <a href="climb{{e}}">{{area['popclimbs'][e]}}</a>
    {% endfor %}
<br>

<br>
{{plotdata}}
{% endblock %}