{% extends "base.j2" %}

{% block content %}

<br>
<div class="contenthead">
<div id="contenttitle">{{area['name']}}</div>                                  
<div id="details">{{ area['mainarea_name'] }}, {{ area['region'] }}, {{ area['country'] }}</div>
</div>

<div class="maincontent">
<div>{{area['description']}}</div>
<div>{{area['directions']}}</div>
<div><a href="http://{{area['url']}}">View on MountainProject</a></div>
</div>
<h4>Most Popular Climbs </h4>
	{% for e in area['popclimbs'].keys() %}
        <a href="climb{{e}}">{{area['popclimbs'][e]}}</a>
    {% endfor %}
<br>

<br>
{{plotdata}}
{% endblock %}