<!DOCTYPE html>
<html lang="en">
  <head>
    <script>console.log('rendering...')</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CragCrunch</title>
    <meta charset="utf-8" />
    <meta name="description" content="Insight Data Science Project">
    <meta name="keywords" content="rock climbing, data analysis, data science, visualization">
    <meta name="author" content="Amy E. Skerry">

    <!-- Bootstrap -->
    <!--twitter bootstrap-->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!--my less--> 
    <!--dev only-->
    <link rel="stylesheet/less" href="../static/style.less"/> 

    <!--JQUERY-->
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-1.11.2.min.js"></script>
    <!--<link rel="stylesheet/css" type="text/css" href="css/style.css" /> -->
    <script src="../static/js/less-2.3.1.min.js"></script>
    <!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
    <link href="../static/css/bootstrap-switch.css" rel="stylesheet">
    <script src="../static/js/bootstrap-switch.js"></script>
    <link href="../static/css/slider.css" rel="stylesheet">
    <script src="../static/js/bootstrap-slider.js"></script>
    <script src="../static/js/bootbox.min.js"></script>
    <script src="../static/js/bootbox.min.js"></script>
    <!--  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" />-->
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>-->

    <script type="text/javascript" src="../static/js/highcharts.js"></script>
    <script type="text/javascript" src="../static/js/highcharts-more.js"></script> 
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div id="page">
      <div id='banner'>
      <img id="bannerimg" src="../static/img/yosemite.jpg" alt="yosemite">
       <div class="navbar navbar-inverse" role="navigation">
         <div class="container">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="/home">CragCrunch</a>
           </div>
           <div class="collapse navbar-collapse">
             <ul class="nav navbar-nav">
               <li class="active"><a href="/home">Home</a></li>
               <li><a href="/user/2424">Profile</a></li>
               <li><a href="/about">About</a></li>
               <li><a href="#" onclick=getnewuser();>I'm New!</a></li>
               <li>    
               		<form action="../home" method="POST">
        				<input id="searchbox" type="text" name="text" placeholder="Search for climb, area, or user">
    				</form>
    			</li>
             </ul>
           </div><!--/.nav-collapse -->
         </div>
      </div>
      </div>
      <div id="content">   
          {% block content %}{% endblock %}
      </div>
    </div>



    <script>
    			function checkusername(name){
    					console.log(name)
    					$.ajax({
					      type: 'GET',
					      url: '/checkavailability', // This is the url that will be requested
					      data: {desiredname:name},
					      success: acceptreject,
					      dataType: 'JSON'
					    });
    			};
    			function acceptreject(data){  
    				exists=data['exists'] 
    				name=data['name']
    				console.log(exists)
    				if (exists==true) {
    					console.log("name found")
    					bootbox.prompt("User name "+name+" is taken or invalid. Please provide a new name.", checkusername);
    				}
    				else
    				{
    					console.log("you're good")
    					gotosetuppage(name)
    				}
				};  
    			function gotosetuppage(name){
    				window.location.replace("/newuser/"+name);
    			};
    			function getnewuser(){
					bootbox.prompt("Welcome to CragCrunch! Please enter a user name.", checkusername);
				};
				function go2user(){
					var userid = $('#userdropdown').val()
    				window.location.replace("/user/"+userid.toString());
				};

			$(document).ready(function(){

				$("#sportcheck").bootstrapSwitch({labelText:'Sport'});
				$("#tradcheck").bootstrapSwitch({labelText:'Trad'});
				$("#bouldercheck").bootstrapSwitch({labelText:'Boulder'});
				gradeslider=$('#gradeslider').slider()
				gradeslider.slider('setValue', "0")
				prefslider=$(".prefslider").slider()
				prefslider.slider('setValue', "2")

			});
	</script>
  </body>
</html>