{% extends "base.j2" %}

{% block content %}


<br>
<div class="contenthead">
<div id="contenttitle">{{climb['name']}}</div>                                  
<div id="details">{{climb['style']}}, {{climb['grade']}}, {{climb['areaname']}}, {{ climb['mainarea_name'] }}, {{ climb['region'] }}</div>
</div>

<div class="maincontent">
<div>{% for n in climb['nest'] %}
	---> <a href="../view/area{{n[0]}}">{{n[1]}}</a>
{% endfor %}
</div>
<div>{{climb['avgstars']}}, <a href="http://{{climb['url']}}">{{climb['pageviews']}} views on MountainProject.com</a></div>
<div>{{climb['pitch']}} {% if climb['length']!=''%}, {{climb['length']}} {% endif %}</div>
<div><h4>Gear:</h4> {{climb['protection']}}</div>
<div><h4>Description:</h4> 
{{climb['description'] | safe}}
</div>
</div>
<h3>Similar Climbs... </h3>
{% for rec in recs %}
	<div class="contenthead">
	<div id="contenttitle" class="secondary"><a href="../view/climb{{ rec['climbid']}}">{{rec['name']}}</a></div>                                  
	<div id="details" class="secondary">{{rec['style']}}, {{rec['grade']}} .......... {{ rec['mainarea_name'] }}, {{ rec['region'] }}</div>
	</div>
{% endfor %}
<br>

{% endblock %}