{% extends "base.j2" %}
{% block content %}

<div class="row">
    <div id="contenttitle" class="col-md-6"><b>CragCrunch</b></div>
    <div id="details" class="col-md-6">Discover new rock climbing routes for you</div>
</div>
<hr class="headline">
<div class="row">
    <div class="col-md-8">
        {% if (returntype=='result') %}
        <h4>Users</h4>
        <ul class=entries>
            {% if result['users']==[] %}
            <span class="subtle">No users match your query.</span>
            {% else %}
            {% for e in result['users'] %}
            <li><a class="emplink" href="user/{{e['climberid']}}">{{e['name']}}</a>, <a
                    href="view/area{{e['mainarea']}}">{{e['mainarea_name']}}</a><a class="subtlelink"
                                                                                   href="http://{{e['url']}}"> ....view
                on MP</a></li>
            {% endfor %}
            {% endif %}
        </ul>

        <h4>Climbs</h4>
        <ul class=entries>
            {% if result['climbs']==[] %}
            <span class="subtle">No climbs match your query.</span>
            {% else %}
            {% for e in result['climbs'] %}
            <li><a class="emplink" href="view/climb{{e['climbid']}}">{{e['name']}}</a>, <a
                    href="view/area{{e['mainarea']}}">{{e['mainarea_name']}}</a>, {{e['region']}}, {{e['grade']}},
                {{e['style']}}, <a class="subtlelink" href="http://{{e['url']}}"> ....view on MP</a></li>
            {% endfor %}
            {% endif %}
        </ul>

        <h4>Areas</h4>
        <ul class=entries>
            {% if result['areas']==[] %}
            <span class="subtle">No areas match your query.</span>
            {% else %}
            {% for e in result['areas'] %}
            <li><a class="emplink" href="view/area{{e['areaid']}}">{{e['name']}}</a>, <a
                    href="view/area{{e['mainarea']}}">{{e['mainarea_name']}}</a>, {{e['region']}} <a class="subtlelink"
                                                                                                     href="http://{{e['url']}}">
                ....view on MP</a></li>
            {% endfor %}
            {% endif %}
        </ul>
        {% else %}
        <h3>Explore User Profiles</h3>
        <select id="userdropdown" class="defaultselect" onchange="go2user();">
            <option value="0"> Select User</option>
            {% for key in users.keys() %}
            <option value="{{ key }}"> {{users[key]}}</option>
            {% endfor %}
        </select>

        <h3>Browse Popular Climbs</h3>
        <ul class=entries>
            {% for entry in climbs %}
            <li><a href="view/climb{{ entry['climbid']}}">{{ entry['name']}}</a>, <a
                    href="view/area{{entry['mainarea']}}">{{ entry['mainarea_name'] }}</a>, {{ entry['region'] }} <a
                    class="subtlelink" href="http://{{entry['url']}}">({{ entry['pageviews'] }} views on MP)</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-4" id='blurb'>
        <p><img id='logoimg' class='fitimg' src="../static/img/logo.jpg" alt="logo">Every rock climb is different,
            demanding its own blend of mental and physical skills, and every climber comes to the crag with her own
            unique strengths, preferences, and goals. A climbing area or park often contains hundres or thousands of
            individual climbing routes, and a climber can only tackle a handful of the routes on a trip. CragCrunch
            provides a framework for discovering new climbing routes that are right for YOU.</p>
    </div>
</div>

{% endblock %}
