<!DOCTYPE html>
<html lang="en">
  <head>
    <script>console.log('rendering...')</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CragCrunch</title>
    <meta charset="utf-8" />
    <meta name="description" content="Insight Data Science Project">
    <meta name="keywords" content="rock climbing, data analysis, data science, visualization">
    <meta name="author" content="Amy E. Skerry">

    <!-- Bootstrap -->
    <!--twitter bootstrap-->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!--my less--> 
    <!--dev only-->
    <link rel="stylesheet/less" href="../static/style.less"/> 

    <!--JQUERY-->
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-1.11.2.min.js"></script>
    <!--<link rel="stylesheet/css" type="text/css" href="css/style.css" /> -->
    <script src="../static/js/less-2.3.1.min.js"></script>
    <!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
    <link href="../static/css/bootstrap-switch.css" rel="stylesheet">
    <script src="../static/js/bootstrap-switch.js"></script>
    <link href="../static/css/slider.css" rel="stylesheet">
    <script src="../static/js/bootstrap-slider.js"></script>
    <script src="../static/js/bootbox.min.js"></script>
    <script src="../static/js/bootbox.min.js"></script>
    <!--  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" />-->
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>-->

    <script type="text/javascript" src="../static/js/highcharts.js"></script>
    <script type="text/javascript" src="../static/js/highcharts-more.js"></script> 
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
	<body>
	<form action="../home" method="POST">
		<div class="landingdiv">
		    <input type="text" class="form-control login" id="username" name="username" placeholder="user name">
		    <input type="password" class="form-control login" id="password" name="password" placeholder="password">
			<input type="submit" value="&#8594" class="btn btn-primary">
			<h4><input type="submit" value="Continue as Guest Explorer" class="btn-lg btn-primary"></h4>
		</div>
	</form>
	</body>
</html>