{% extends "base.j2" %}

{% block content %}

<form action="../newuser/createprofile" method="POST">
<h3>Hi {{udict['name']}}, thanks for joining CragCrunch!</h3>
<span class="miniboost">To start finding the best climbs for you, we need to know a little bit about what you like. Please tell us how you feel about each of the climb features below:</span>&nbsp&nbsp&nbsp&nbsp
<input type="submit" value="Save Preferences" class="btn btn-primary">
<br>
<br>
<div class="row">
{% for feature in redfeats.keys() %}	
	<div class="col-md-2 prefbox">
		<div class="featurelabel">{{redfeats[feature]}}</div>
		<img id='prefimg'class='fitimg' src="../static/img/{{redfeats[feature]}}.png" alt="logo">

		<div class="btn-group btn-group-sm prefgroup" data-toggle="buttons">
			    <label class="btn btn-default btn-sm" id="squeeze">
			    	<input type="radio" name="pref_{{feature}}" id="{{feature}}_love" value=1> Like 
			    </label>
			    <label class="btn btn-default btn-sm active" id="squeeze">
			    	<input type="radio" name="pref_{{feature}}" id="{{feature}}_meh" value=2 checked> Meh 
			    </label>
			    <label class="btn btn-default btn-sm" id="squeeze">
			    	<input type="radio" name="pref_{{feature}}" id="{{feature}}_dislike" value=3> Dislike 
			    </label>
		</div>

	</div>
{% endfor %}
</div>
<input type="hidden" name="userid" value={{udict['climberid']}}>
</form>


{% endblock %}