{% extends "base.j2" %}

{% block content %}


<br>
<div class="contenthead">
	<div id="contenttitle">{{user['name']}} </div>                                  
	<div id="details">{%if user['gender']!=''%}{{user['gender']}},{%endif%} {%if user['gender']!=''%}{{ user['age'] }}{%endif%} {{user['mainarea_name']}}, {{user['country']}}</div>
</div>
<div class='usercontent'>
	<div id="profile">
		Climbs {{user['climbstyles']}}. View climbing record on <a href="http://{{user['url']}}">MountainProject</a>.
		
		<div id="plotbox">
		<div class="plotrow">
		<div id="plotcontainer0">
		<script>
			var plotdata='{{plotdata[0] | safe}}';
			var jsondata=JSON.parse(plotdata);
			var chart = new Highcharts.Chart(jsondata);
		</script>
		</div>
		<div id="plotcontainer1">
		<script>
			var plotdata='{{plotdata[1] | safe}}';
			var jsondata=JSON.parse(plotdata);
			var chart = new Highcharts.Chart(jsondata);
		</script>
		</div>
		</div>
		<div>
		<div class="plotrow">
		<div id="plotcontainer2">
		<script>
			var plotdata='{{plotdata[2] | safe}}';
			var jsondata=JSON.parse(plotdata);
			console.log(jsondata)
			var chart = new Highcharts.Chart(jsondata);
		</script>
		</div>
		<div id="plotcontainer3">
		<script>
			var plotdata='{{plotdata[3] | safe}}';
			var jsondata=JSON.parse(plotdata);
			var chart = new Highcharts.Chart(jsondata);
		</script>
		</div>
		</div>
		</div>
		</div>
		</div>
	<div id="userrecs">
		<div id="checkgroup">
			<input type="checkbox" name="sportcheck" value='Sport' checked onchange="adjuststyle(this.value)">
			<input type="checkbox" name="tradcheck" value='Trad' checked onchange="adjuststyle(this.value)">
			<input type="checkbox" name="bouldercheck" value='Boulder' checked onchange="adjuststyle(this.value)">
		</div>

		<div class="sliderdiv">
		  <div>easy<input id='gradeslider' type="range" min="1" max="5" value="3" step="1" onchange="adjustgrade(this.value)" />hard</div>
		  <div class="step">difficulty</div>
		<br>
		</div>
		<h4>Top climbs for you in 
		<select id="dropdown" onchange="adjustarea(this.value)">
		{%  for key in areas.keys() %}
			{% if key == defaultarea %}
				<option value="{{ key }}" selected> {{areas[key]}} </option>
			{% else %}
				<option value="{{ key }}"> {{areas[key]}} </option>
			{% endif %}
		{% endfor %}
		</select>
		</h4>
		<div id="recbox">
		      {% for rec in recs %}
					<div class="recroute"><a href="../view/climb{{ rec['climbid']}}">{{rec['name']}}</a></div>                               
					<div class="tagline">{{rec['style']}}, {{rec['grade']}} .......... {{ rec['mainarea_name'] }}, {{ rec['region'] }}</div>
		      {% endfor %}
		</div>
	</div>
	</div>
</div>

<script>
    		//shift grade difficulty based on user response
    		function adjustgrade(newgrade){
				$.ajax({
			      type: 'GET',
			      url: '/refreshrecs', // This is the url that will be requested
			      data: {areaid:{{defaultarea}}, userid:2424, changetype:'stylechange', gradeshift:newgrade, style: 'all'},
			      success: function(data) {
						newrecs = data;
						console.log(newrecs); // look at it!
			    		},
			      dataType: 'JSON'
			    });
    		};
    		//adjust style according to user pref
    		function adjuststyle(newstyle){
				$.ajax({
			      type: 'GET',
			      url: '/refreshrecs', // This is the url that will be requested
			      data:  {areaid:{{defaultarea}}, userid:2424, changetype:'stylechange', gradeshift:0, style: 'all'},
			      success: function(data) {
						newrecs = data;
						console.log(newrecs); // look at it!
			    		},
			      dataType: 'JSON'
			    });
    		};

    		//adjust area based on user selection
    		function adjustarea(newarea){
    			console.log('TESTTTTTTTT')
			   $.ajax({
			      type: 'GET',
			      url: '/refreshrecs', // This is the url that will be requested
			      data: {areaid: newarea, userid:2424, changetype:'areachange', gradeshift:0, style: 'all'},
			      success: function(newrecs) {
			      		var str = 'test';
			      		console.log(str)
			      		console.log(newrecs); // look at it!
			      		$('#recbox').hide();

						for(var rec in newrecs){
							console.log(rec)
							var climbname=rec.name;
							console.log(climbname)
							var climbid=rec['climbid'];
							var climbgrade=rec['grade'];
							var climbarea=rec['climbid'];
							var climbstyle=rec['mainarea_name'];
							var climbregion=rec['region'];
						}

						$('#recbox').append(str);
			    		},
			      dataType: 'JSON'
			    });
				};
</script>

{% endblock %}